{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section class="section">
        <h2><i class="fas fa-trash-alt"></i> Excluir Cliente</h2>
        <p>Tem certeza que deseja excluir o cliente <strong>{{ cliente.nome }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn-delete">Confirmar</button>
            <a href="{% url 'clientes:lista_clientes' %}" class="btn-cancel">Cancelar</a>
        </form>
    </section>
</div>
{% endblock %}
